* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0F0F0F;
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

/* NAVEGADOR */
header {
    height: 50px;
    padding: 10px 20px 10PX 10px;
    background-color: blue;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.menu-logo {
    display: flex;
    align-items: center;
    width: 160px;
    gap: 20px;
    background-color: yellow;
}
.menu {
    height: 24px;
    border-radius: 100%;
    padding: 8px;
    background-color: blue;
}
.logo {
    width: 100px;
}
.buscador {
    display: none;
}
.display-botones {
    display: flex;
    align-items: center;
    gap: 15px;
}
.botones {
    display: flex;
    justify-content: space-between;
    width: 160px;
    background-color: blue;
}
.svg {
    width: 24px;
    border-radius: 100px;
    padding: 8px;
    color: white;
    background-color: black;
}
.svg-A {
    width: 28px;
    padding: 2px;
    border-radius: 100%;
    background-color: #093fe1;
}



main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}

/* COLUMNA DE OPCIONES */
.section-column {
    display: none;
    width: 10%;
    background-color: brown;
}

/* CONTENIDO PRINCIPAL */
.section-videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}
.espaciado {
    background-color: chocolate;
    padding: 10px 10px 10px 10px;
}
.row-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.row-nav>button {
    height: 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    background-color: rgb(75, 75, 75);
}

/* CONTENIDOS-VIDEOS */
.videos {
    display: grid;
    gap: 45px 10px;
    width: 100%;
    background-color: gray;
}
.img-video {
    display: grid;
    grid-template-columns: 100%;  
    width: 100%;
    gap: 15px;
}
.img-video > img {
    width: 100%;
}
.info {
    display: grid;
    grid-template-columns: 50px auto;
}

.titulos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.parrafo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.parrafo > p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #AAAAAA;
    gap: 5px;
}



@media only screen and (min-width:1200px) {
    .buscador {
        display: flex;
    }
    .section-column {
        display: flex;
    }

    .videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width:1500px) {

    .videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}